<!-- <mat-toolbar> -->
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-top shadow-sm">
  <div>
    <img src="/assets/logoRondTransparent.png" alt="ecofarms logo" width="50" />
  </div>
  <div class="container">
    <div class="row">
      <div>
        <span><br>EcoFarms accompagnent et <br> valorisent
          les acteurs qui s’engagent<br> pour
          une agriculture durable.</span>
      </div>
      <div>
        <h5>À propos</h5>
        <ul>
          <li><a href="#!" style="color: black;">EcoFarms</a></li>
          <li><a href="#!" style="color: black;">Notre méthodologie d’évaluation</a></li>
        </ul>
      </div>
      <div>
        <h5>Retrouvez-nous</h5>
        <ul>
          <li><a href="#!" style="color: black;">LinkedIn</a></li>
          <li><a href="#!" style="color: black;">Facebook</a></li>
        </ul>
      </div>
      <div>
        <h5>Contactez-nous</h5>
        <ul>
          <li><a href="#!" style="color: black;">contact@ecofarms.co</a></li>
        </ul>
      </div>
    </div>
  </div>
<!-- </mat-toolbar> -->
</div>