<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-top shadow-sm">
  <div fxLayout="row" fxLayoutAlign="space-around">
    <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">
      <div>
        <img src="/assets/logoRondTransparent.png" alt="ecofarms logo" width="50" />
      </div>

      <div>
        EcoFarms accompagne les acteurs qui <br> s’engagent pour
          une agriculture durable.
      </div>

      <div>
        <h5>À propos</h5>
        <ul>
          <a href="#!" style="color: black;">EcoFarms</a>
          <br><a href="#!" style="color: black;">Notre méthodologie d’évaluation</a>
        </ul>
      </div>

      <div>
        <h5>Retrouvez-nous</h5>
        <ul>
          <a href="#!" style="color: black;">LinkedIn</a>
          <br><a href="#!" style="color: black;">Facebook</a>
        </ul>
      </div>

      <div>
        <h5>Contactez-nous</h5>
        <ul>
          <a href="#!" style="color: black;">contact@ecofarms.co</a>
        </ul>
      </div>
    </div>
  </div>
</div>