<form [formGroup]="filterForm">
    <div fxLayout="row" fxLayoutAlign="space-around">
        <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Régions</mat-label>
                    <mat-select formControlName="region" (selectionChange)="manageChips($event.value,'region')"
                        multiple>
                        <mat-option class="not-empty-select" *ngFor="let region of regionList" [value]="region">
                            {{region}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Productions</mat-label>
                    <mat-select formControlName="productions" (selectionChange)="manageChips($event.value,'production')"
                        multiple>
                        <mat-option class="not-empty-select" *ngFor="let production of productionList"
                            [value]="production">
                            {{production}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="test-div">
                <!-- TODO: contour orange fond blanc -->
                <button mat-raised-button color="blue" (click)="openScoreDialog()">Score</button>

            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Activités</mat-label>
                    <mat-select formControlName="activities" (selectionChange)="manageChips($event.value,'activite')"
                        multiple>
                        <mat-option class="not-empty-select" *ngFor="let activite of activiteList" [value]="activite">
                            {{activite}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Vente Directe</mat-label>
                    <mat-select formControlName="ventesDirectes" (selectionChange)="manageChips($event.value,'vente')"
                        multiple>
                        <mat-option class="not-empty-select" *ngFor="let vd of vdList" [value]="vd">{{vd.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Réseaux</mat-label>
                    <mat-select formControlName="reseaux" (selectionChange)="manageChips($event.value,'reseau')"
                        multiple>
                        <mat-option class="not-empty-select" *ngFor="let reseau of reseaux$ | async"
                            [value]="reseau.name">
                            {{reseau.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="div-button-recherche">
                <!-- bouton height comme filtre -->
                <button mat-raised-button color="blue" (click)="onFormSubmit()">Rechercher </button>
            </div>
        </div>
    </div>


    <div>
        <mat-form-field class="example-chip-list">
            <mat-label>Critères de recherche</mat-label>
            <mat-chip-list #chipList aria-label="Critères de recherche" multiple>
                <mat-chip *ngFor="let keyword of keywords">
                    {{keyword}}
                </mat-chip>
                <input [matChipInputFor]="chipList" (matChipInputTokenEnd)="manageChips($event.value,'')"
                    [disabled]="true">
            </mat-chip-list>
        </mat-form-field>
    </div>
    <div class="div-slide-toogle">
        <mat-slide-toggle (click)="onToogleMap()"> {{isChecked == true ? "Afficher la carte" : "Masquer
            la carte"}}
        </mat-slide-toggle>
    </div>

    <div fxLayout="row">
        <!-- <mat-icon>pie_chart</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->
        <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">
            <mat-card fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)"
                (click)="goToFarmDetails(member._id)" *ngFor="let member of farms; let in = index">
                <mat-card-title>{{member.name}}</mat-card-title>
                <mat-card-subtitle><span style="color: #F6A030;font-weight: bold;"> {{member.score}} /
                        100</span></mat-card-subtitle>
                <img mat-card-image *ngIf="member.photo && member.photo.imageBase64"
                    [src]="sanitizer.bypassSecurityTrustResourceUrl('data:image/jpeg;base64,' + member.photo.imageBase64)"
                    alt="Photo of {{member.title}}">
                <mat-card-content>
                    <!-- {{member.description}} -->
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions>
                    <div>
                        <i class="material-icons">location_on</i>
                        {{member.localisation}}, {{member.region}} 
                    </div>
                    <div>
                        <img src="assets/sprout2.png" width="20" height="20" />
                        <li *ngFor="let prod of member.productions"> {{ prod }}</li>
                        <!-- {{member.productions}} -->
                    </div>
                </mat-card-actions>

            </mat-card>
        </div>
        <div *ngIf="!isChecked" fxFlex="50">
            <google-map height="800px" width="700px"></google-map>
        </div>
    </div>
</form>