/** Overrides underline color **/

.my-form-field.mat-form-field-appearance-legacy .mat-form-field-underline, .my-form-field.mat-form-field-appearance-legacy .mat-form-field-ripple, .my-form-field.mat-form-field-appearance-legacy.mat-focused .mat-form-field-underline, .my-form-field.mat-form-field-appearance-legacy.mat-focused .mat-form-field-ripple {
  background-color: white;
}

/** Overrides label color **/

.my-form-field.mat-form-field-appearance-legacy .mat-form-field-label, .my-form-field.mat-form-field-appearance-legacy.mat-focused .mat-form-field-label {
  color: white;
}

/** Overrides caret & text color **/

.my-form-field.mat-form-field-appearance-legacy .mat-input-element {
  caret-color: white;
  color: white;
}

/* Border */

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #F6A030;
}

::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
  background-color: #F6A030 !important;
}

.mat-button.mat-blue {
  color: #6D9EEB;
}

.mat-raised-button.mat-blue, .mat-flat-button.mat-blue{
  background-color: #6D9EEB;
  color: white;
}

/* define font for bootstrap to Montserrat */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: Montserrat;
}